<h2 class="my-4 py-4">
    Customers
    <small class="text-secondary">
        (0)
    </small>
</h2>

<div class="section-bg p-3">
    <div class="d-flex justify-content-end">
        <div>
            <button class="btn btn-primary">
                <i class="fa fa-user-plus pe-2"></i>
                Add Customer
            </button>
        </div>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th>#</th>
                <th class="align-middle">Name</th>
                <th class="align-middle">Email</th>
                <th class="align-middle">Phone</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers;index as i">
                <td>{{i+1}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.phone}}</td>
            </tr>
        </tbody>
    </table>
</div>